{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    ".eslintrc-layout-formatting",
    ".eslintrc-possible-problems",
    ".eslintrc-suggestions"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
