{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    ".eslintrc-best-practices",
    ".eslintrc-ecmascript-6",
    ".eslintrc-nodejs-and-commonjs",
    ".eslintrc-possible-errors",
    ".eslintrc-stylistic-issues",
    ".eslintrc-variables"
  ]
}
