{
  "printWidth": 80,
  "tabWidth": 4,
  "requirePragma": true,
  "overrides": [
    {
      "files": ["**/*.json", ".*rc"],
      "options": {
        "requirePragma": false,
        "tabWidth": 2
      }
    }
  ]
}
